<div class="container">
  <div class="row">
    <div class="col-nd-6">
      <div class="card">
        <div class="text=center">
          <div class="card text-center">
            <div class="card-header">
              LOGIN
            </div>
            <div class="card-body">
              <h5 class="card-title">Please enter your email and password</h5>
              
              <form>
                <form>
                <div class="form-group">
      
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  
                </div>
                <div class="form-check" class="center">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div><a routerlink="#" class="btn btn-primary">Login</a></div>

                <a routerLink="/signup">New User?Click here to Signup </a>

                <div class="container">
                  <div class="row">
                    <div class="col">
                      <a routerLink="/signup" class="btn btn-success btn-sm active" role="button" aria-pressed="true" data-inline="true">Farmer</a></div>
                      <div class="col">
                        <a routerLink="/biddersignup" class="btn btn-danger btn-sm active" role="button" aria-pressed="true" data-inline="true">Bidder</a>
                      </div>
                      </div>
                      </div>
                    



              </form>
            </form>


              
            </div>

           
            

            
            
          </div>

        </div>
        

        
      </div>
    </div>
  </div>
</div>