<p>biddersignup works!</p>
<div class="container">
    <div class="row">
      <div class="col-nd-6">
        <div class="card">
          <div class="text=center">
            <div class="card text-center">
              <div class="card-header">
                BIDDER SIGNUP
              </div>
              <div class="card-body">
                <h5 class="card-title">Please enter the details below to signup as a Bidder</h5>
                
                <form>
                  <form>
                  <div class="form-group">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Enter your name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your Name">
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Enter your Mobile Number</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your Phone no.">
                      </div>
        
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

                    <div class="row">
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Enter your Address</h5>
                              <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-sm">Address</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                              </div>
                              <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-sm">City</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                              </div>
                              <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-sm">State </span>
                                </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                              </div>
                              <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-sm">Pin Code</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                              </div>
                             
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Documents Upload</h5>
                              <p class="card-text">Size should not be greater than ...</p>
                              <ul class="list-group list-group-flush">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroupFileAddon01">Aadhar Card Upload</span>
                                    </div>
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                      
                                    </div>
                                  </div>
                            
                            
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">PAN Card Upload</span>
                              </div>
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                
                              </div>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Trader Liscence Upload</span>
                              </div>
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                
                              </div>
                            </div>
                            
                            </ul>
                          </div>
                        </div>
                      </div>

                    
                      
                      
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Enter Account number</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Acc number">
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Enter IFSC code</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ifsc Code">
                      </div>
                  
                  <div class="form-check" class="center">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-check" class="center">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                  </div>
                  
                  
          
                <a href="#" class="btn btn-primary">SignUp</a>
            
              <div class="card-footer text-muted">
                <a href="#">Already a User? Click here to Login!</a> 
              </div>
            
  
        
          
